@font-face {
  font-family: 'QuattroSans';
  src: url('../assets/fonts/QuattrocentoSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'QuattroSans';
  font-weight: 700;
  src: url('../assets/fonts/QuattrocentoSans-Bold.ttf') format('truetype');
}

html,
body,
#_bibimbap {
  height: 100%;
  padding: 0;
  margin: 0;
}

html {
  font: 100%/1.75 'QuattroSans';
}

body {
  word-wrap: break-word;
  color: hsla(0, 0%, 0%, 0.9);
}

#_bibimbap {
  opacity: 0;
}

:root {
  --key-color-rgb: 74, 111, 132;

  --key-color: rgba(var(--key-color-rgb));
  --key-color-100: rgba(var(--key-color-rgb), 0.1);
  --key-color-200: rgba(var(--key-color-rgb), 0.2);
  --key-color-300: rgba(var(--key-color-rgb), 0.3);
  --key-color-400: rgba(var(--key-color-rgb), 0.4);
  --key-color-500: rgba(var(--key-color-rgb), 0.5);

  --text-M: 0.875rem;
  --text-L: 1.5rem;
  --text-XL: 3rem;

  --width-M: 2rem;
  --width-L: 4rem;

  --border-M: 1.5px solid black;
  --border-L: 2px solid black;
}

/**
* media 
*/
@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

/**
* mobile Responsive
*/
@media screen and (max-width: 480px) {
  :root {
    font-size: 12px;
  }
}

/** 
* keyframes
*/

@keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
