
html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-size: 16px;
}

@media screen and (max-width: 480px) {
  html,
  body {
    font-size: 12px;
  }
}

#root {
  height: 100%;
  width: 100%;

  --key-color: #4a6f84; /* rgba(74,111,132,1)*/
  --key-color-100: #4a6f8408; /* rgba(74,111,132, 0.1)*/
  --key-color-200: #4a6f8433; /* rgba(74,111,132, 0.2)*/

  --text-M: 0.875rem;
  --text-L: 1.5rem;
  --text-XL: 2rem;

  --width-M: 2rem;
  --width-L: 4rem;
}
